{
  "block_reading_size": 1048576,
  "block_writing_size": 8388608,
  "fuse_iosize": 65536,
  "queue_concurrency": 3,
  "prefetch_blocks": 2,
  "max_data_cache_entry": 20,
  "profile": {
    "sample-local": {
      "type": "mount",
      "module": "Sample",
      "cacheStore": "memory",
      "JSONPath": "/path/to/your/sample-fs.json"
    },
    "sample-demo": {
      "type": "mount",
      "module": "Sample",
      "cacheStore": "disk",
      "cachePath": "/tmp/unidisk-cache",
      "JSONPath": "/path/to/unidisk/examples/sample-fs.json"
    }
  }
}
